<% content_for(:title) { 'Twidipity' } %>

<div id="statements">
  <div class="active">
    <div class="grid-item">
      <div class="grid-item-name-wrapper grid-item-add">
        <%= form_for @new_statement do |f| %>
          <%= f.hidden_field :follow, value: 1 %>
          <%= f.hidden_field :duration, value: 86400 %>
          <%= f.submit '+' %>
        <% end %>
      </div>
    </div>

    <%= render partial: "statement", collection: @active %>
    <%= render partial: "processing", collection: @processing %>

    <% @waiting.times do %>
      <%= render partial: "waiting" %>
    <% end %>
  </div>

  <div class="inactive">
    <%= render partial: "completed_suggestion", collection: @complete, as: :suggestion %>
  </div>
</div>
